git+https://github.com/Rapptz/discord.py
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/OpenRobot-Packages/API-Wrapper
git+https://github.com/OpenRobot-Packages/Python-Discord-Activities
git+https://github.com/Gorialis/jishaku
git+https://github.com/sivel/speedtest-cli
git+https://github.com/ShineyDev/prettify.py@v1.0.0
git+https://github.com/Ext-Creators/discord-ext-ipc
git+https://github.com/Axelware/slate
git+https://github.com/proguy914629bot/aiospotify
traceback-with-variables
asyncpg>=0.24.0
psutil>=5.8.0
thefuzz[speedup]
Pillow
mystbin.py
aioredis
humanize
openai
http-request-randomizer
selenium
boto3
black
rethinkdb
tabulate
py-cpuinfo
colorthief
