git+https://github.com/iDevision/enhanced-discord.py
git+https://github.com/proguy914629bot/discord-ext-menus
git+https://github.com/OpenRobot-Packages/API-Wrapper
git+https://github.com/Axelware/slate
git+https://github.com/Axelware/aiospotify
git+https://github.com/Gorialis/jishaku
asyncpg >= 0.24.0
psutil >= 5.8.0
thefuzz[speedup]
Pillow
mystbin.py
aioredis
humanize
